.Navbar-color
{
    background-color: rgb(252, 252, 252);
    color: rgb(4, 182, 226);
}
.Navbar-size
{
    padding-left: 30px;
}
.Texts
{
    color: rgba(50, 77, 77, 0.767);
}
.icon
{
    width: 80px;
    height: 80px;
}
body
{
    margin: 0;
    padding: 0;
    background-color: rgba(123, 196, 196, 0.767);
}
#one
{
    margin: 0;
    padding: 0;
    background-color: rgb(176, 255, 248);
}
.navbar-pos
{
    position: absolute;
    right: 30px;
}
.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
.introduction
{
    border-style: ridge;
    border-right-style: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 30px;
}
.header
{
    color: rgb(7, 111, 138);
    margin-left: 30px;
}
.child h6
{
    color: rgb(7, 111, 138);
   padding: 20px; 
}
.child h1
{
    color: rgb(60, 173, 248);
    padding: 20px;
    font-weight: bold;
}
button
{
    color: rgb(39, 158, 255);
    background-color: aqua;
    border-style: none;
    border-radius: 10px;
    padding: 9px;
}
button:hover{
    color: white;
    background-color: lightblue;
    cursor: pointer;
}
.cream img
{
    margin-left: 50px;
    height: 550px;
}
.parent
{
    padding: 100px;
    text-align: left;
    display: flex;
    align-items: center;
}
.child
{
    display: inline-block;
}



.glaze img
{
    width: 100%;
    position: absolute;
}

#two{
    padding: 150px;
    background-color: rgba(123, 196, 196, 0.767);
    text-align: center;
    padding-bottom: 100px;
}
.fn img{
    height: 450px;
    border-style: ridge;
    border-radius: 10px;
}
.place-holder{
    width: 480px;
}
.fn{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
}
.service{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.service div{
    border-style: ridge;
    background-color: rgb(2, 82, 82);
    color: white;
    padding:10px;
}

#three{
    background-color: rgb(91, 199, 241);
    padding: 150px;
    text-align: center;
    padding-bottom: 60px;
}
#three h1{
    border-style: ridge;
    background-color: rgb(176, 255, 248);
}
.ki h6{
    border-style: ridge;
    background-color: rgb(176, 255, 248);
}
.ki{
    height: 220px;
    width: 220px;
    text-align: center;
}
.first{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
    row-gap: 100px;
    justify-content: center;
    margin-bottom: 50px;
}
.second{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    row-gap: 100px;
    justify-content: center;
}
.ki img{
    height: 200px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}
#four{
    background-color: rgb(0, 153, 255);
    padding: 150px;
}
#four img{
    height: 260px;
}
#four h4{
    text-align: center;
    font-size: 35px;
}
.qr{
    border-style: ridge;
    border-radius: 10px;
}
.links{
    border-style: outset;
    padding: 10px;
    border-radius: 10px;
}
.links p{
    color: white;
    font-size: 15px;
}
.links a{
    color: white;
    text-decoration: none;
}
.link a:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width:768px){
    .header{
        font-size: 10px;
    }
    .parent{
        padding: 30px;
    }
    .introduction{
        display: block;
        background-color: rgba(159, 253, 253, 0.767);
        border-style: ridge;
    }
    .cream img{
        display: flex;
        margin-left: 20px;
        height: 250px;
    }
    .child h1{
        padding: 2px;
        font-size: 20px;
    }
    .child h6{
        color: rgb(7, 111, 138);
        padding: 3px;
        font-size: 10px;
    }
    .three{
        background-color: rgb(91, 199, 241);
        padding: 60px;
        padding-bottom: 5px;
    }
    .three h1{
        border-style: ridge;
        background-color: rgb(176, 255, 248);
        font-size: 20px;
    }
    .ki{
        height: 120px;
        width: 120px;
    }
    .ki h6{
        font-size: 10px;
    }
    .first{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 25px;
        row-gap: 25px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .second{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 25px;
        row-gap: 25px;
        justify-content: center;
    }
    .ki img{
        height: 100px;
    }
    #two{
        padding: 50px;
        background-color: rgba(123, 196, 196, 0.767);
        text-align: center;
        padding-bottom: 20px;
    }
    #two p{
        font-size: 10px;
    }
    .about-us{
        font-size: 10px;
    }
    #two h1{
        font-size: 20px;
    }
    .fn img{
        height: 170px;
        border-style: ridge;
        border-radius: 10px;
    }
    .place-holder{
        width: 180px;
    }
    .fn{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 5px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 5px;
    }
    #four{
        background-color: rgb(0, 153, 255);
        padding: 30px;
    }
    #four img{
        height: 120px;
    }
    #four h4{
        text-align: center;
        font-size: 20px;
    }
    .qr{
        border-style: ridge;
        border-radius: 10px;
    }
    .links{
        border-style: outset;
        padding: 3px;
        border-radius: 10px;
    }
    .links p{
        color: white;
        font-size: 10px;
    }
    .links a{
        color: white;
        text-decoration: none;
    
    }